<%= form_with model: blog_post do |form| %>
  <% if form.object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form.object.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
      <% form.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :cover_image %><br>
    <% if blog_post.cover_image.present? %>
      <div id="<%= dom_id(blog_post, :cover_image) %>">
        <%= image_tag blog_post.cover_image, class: "w-64" %>
        <%= link_to "Remove cover image", blog_post_cover_image_path(blog_post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
    <% end %>
    <%= form.file_field :cover_image %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.rich_text_area :content %>
  </div>

  <div>
    <%= form.label :published_at %><br>
    <%= form.datetime_select :published_at, include_blank: true %>
  </div>

    <%= form.button %>
<% end %>
