<%= image_tag @blog_post.cover_image if @blog_post.cover_image.present? %>
<h1><%= @blog_post.title %></h1>
<p><%= @blog_post.content %></p>

<%= link_to "Edit", edit_blog_post_path(@blog_post) if user_signed_in? %>
<%= button_to "Delete", @blog_post, method: :delete, data: {turbo_confirm: "Are you sure?"} if user_signed_in? %>
<%= link_to "Back", blog_posts_path %>
